body { 
    font-size: 16px;
    color: #000000;
    font-family: 'Arial', sans-serif;
}

#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    font-size: 1.5em;
    color: #000000 !important;
    font-weight: bold;
}

.navbar-brand a:hover, 
.navbar-brand a:focus {
    text-decoration: none;
    color: inherit
}